services:
    -
        class: Spatie\DataTransferObject\PHPstan\PropertiesAreAlwaysInitializedExtension
        tags:
            - phpstan.properties.readWriteExtension

includes:
    - phpstan-baseline.neon

parameters:
    level: 4
    paths:
        - src
        - config
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    checkMissingIterableValueType: false
    checkUninitializedProperties: true

